  <div id="lenta_main">
    <ul class="sc_menu kino gallery clearfix" id="drop">
      <%= render "li_otstup" %>
      <%= render partial: "partial_of_main_images", collection: @lents, as: :lent %>
    </ul>
  </div>