  <div id="lenta_main">
    <ul class="sc_menu kino gallery clearfix" id="drop">
      <li class="otstup">&nbsp;</li>
      <%= render partial: "partial_of_main_images", collection: @lents, as: :lent %>
    </ul>
  </div>