@media all and (max-width: 900px) {
    div#logo {
        left: 22% !important;
        background-size: 70% !important;
        background-origin: padding-box;
        background-position: 22% 55% !important;
        
    }
    div.navlistdiv {
        top: 0px;
    }
}
